<section
  class="min-h-[90vh] w-full bg-cover bg-center bg-no-repeat flex items-center justify-center bg-red-500"
  
>

  <div class="max-w-7xl mx-auto px-4 text-center font-serif">

    <h1 class="text-4xl md:text-5xl font-bold mb-4">
      Find your next stay
    </h1>

    <p class="text-white max-w-xl mx-auto mb-10">
      Discover unique homes and places to stay.
    </p>

    <a href="/"
       class="inline-block bg-black text-white px-6 py-3 rounded-lg ">
      Explore Homes
    </a>

  </div>
</section>
